In [75]:
import pandas as pd
import numpy as np

from sklearn.model_selection import KFold

In [ ]:
data = pd.read_csv('USA_Final3.csv')

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41290 entries, 0 to 41289
Data columns (total 9 columns):
title          41290 non-null object
year           41290 non-null int64
director       41290 non-null object
actor1         41290 non-null object
actor2         41290 non-null object
genre          41290 non-null object
rating         41290 non-null float64
country        41290 non-null object
releasedate    36521 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 2.8+ MB

In [78]:
train_data = data[0:35000]
test_data = data[35000:]

In [79]:
del train_data['releasedate']
del test_data['releasedate']

In [81]:
train_data.info()
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35000 entries, 0 to 34999
Data columns (total 8 columns):
title       35000 non-null object
year        35000 non-null int64
director    35000 non-null object
actor1      35000 non-null object
actor2      35000 non-null object
genre       35000 non-null object
rating      35000 non-null float64
country     35000 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 2.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6290 entries, 35000 to 41289
Data columns (total 8 columns):
title       6290 non-null object
year        6290 non-null int64
director    6290 non-null object
actor1      6290 non-null object
actor2      6290 non-null object
genre       6290 non-null object
rating      6290 non-null float64
country     6290 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 393.2+ KB

In [82]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
       # Encoding only categorical variables
#if test_data.column=='genre':
       # Using whole data to form an exhaustive list of levels
data2=train_data['genre'].append(test_data['genre'])
le.fit((data2))
train_data['genre']=le.transform(train_data['genre'])
test_data['genre']=le.transform(test_data['genre'])

C:\Users\vijay\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\vijay\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [83]:
train_data.info()
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35000 entries, 0 to 34999
Data columns (total 8 columns):
title       35000 non-null object
year        35000 non-null int64
director    35000 non-null object
actor1      35000 non-null object
actor2      35000 non-null object
genre       35000 non-null int64
rating      35000 non-null float64
country     35000 non-null object
dtypes: float64(1), int64(2), object(5)
memory usage: 2.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6290 entries, 35000 to 41289
Data columns (total 8 columns):
title       6290 non-null object
year        6290 non-null int64
director    6290 non-null object
actor1      6290 non-null object
actor2      6290 non-null object
genre       6290 non-null int64
rating      6290 non-null float64
country     6290 non-null object
dtypes: float64(1), int64(2), object(5)
memory usage: 393.2+ KB

In [84]:
features = train_data.columns[0:]

numeric_features = []
categorical_features = []

for dtype, feature in zip(train_data.dtypes[0:], train_data.columns[0:]):
    if dtype == object:
        #print(column)
        #print(train_data[column].describe())
        categorical_features.append(feature)
    else:
        numeric_features.append(feature)
categorical_features

['title', 'director', 'actor1', 'actor2', 'country']

In [85]:
del categorical_features[4]

In [86]:
categorical_features

['title', 'director', 'actor1', 'actor2']

In [87]:
np.random.seed(13)

def impact_coding(data, feature, target='genre'):
    '''
    In this implementation we get the values and the dictionary as two different steps.
    This is just because initially we were ignoring the dictionary as a result variable.
    
    In this implementation the KFolds use shuffling. If you want reproducibility the cv 
    could be moved to a parameter.
    '''
    n_folds = 20
    n_inner_folds = 10
    impact_coded = pd.Series()
    
    oof_default_mean = data[target].mean() # Gobal mean to use by default (you could further tune this)
    kf = KFold(n_splits=n_folds, shuffle=True)
    oof_mean_cv = pd.DataFrame()
    split = 0
    for infold, oof in kf.split(data[feature]):
            impact_coded_cv = pd.Series()
            kf_inner = KFold(n_splits=n_inner_folds, shuffle=True)
            inner_split = 0
            inner_oof_mean_cv = pd.DataFrame()
            oof_default_inner_mean = data.iloc[infold][target].mean()
            for infold_inner, oof_inner in kf_inner.split(data.iloc[infold]):
                # The mean to apply to the inner oof split (a 1/n_folds % based on the rest)
                oof_mean = data.iloc[infold_inner].groupby(by=feature)[target].mean()
                impact_coded_cv = impact_coded_cv.append(data.iloc[infold].apply(
                            lambda x: oof_mean[x[feature]]
                                      if x[feature] in oof_mean.index
                                      else oof_default_inner_mean
                            , axis=1))

                # Also populate mapping (this has all group -> mean for all inner CV folds)
                inner_oof_mean_cv = inner_oof_mean_cv.join(pd.DataFrame(oof_mean), rsuffix=inner_split, how='outer')
                inner_oof_mean_cv.fillna(value=oof_default_inner_mean, inplace=True)
                inner_split += 1

            # Also populate mapping
            oof_mean_cv = oof_mean_cv.join(pd.DataFrame(inner_oof_mean_cv), rsuffix=split, how='outer')
            oof_mean_cv.fillna(value=oof_default_mean, inplace=True)
            split += 1
            
            impact_coded = impact_coded.append(data.iloc[oof].apply(
                            lambda x: inner_oof_mean_cv.loc[x[feature]].mean()
                                      if x[feature] in inner_oof_mean_cv.index
                                      else oof_default_mean
                            , axis=1))

    return impact_coded, oof_mean_cv.mean(axis=1), oof_default_mean

# Apply the encoding to training and test data, and preserve the mapping
impact_coding_map = {}
for f in categorical_features:
    print("Impact coding for {}".format(f))
    train_data["impact_encoded_{}".format(f)], impact_coding_mapping, default_coding = impact_coding(train_data, f)
    impact_coding_map[f] = (impact_coding_mapping, default_coding)
    mapping, default_mean = impact_coding_map[f]
    test_data["impact_encoded_{}".format(f)] = test_data.apply(lambda x: mapping[x[f]]
                                                                         if x[f] in mapping
                                                                         else default_mean
                                                               , axis=1)

Impact coding for title

C:\Users\vijay\Anaconda3\lib\site-packages\ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\vijay\Anaconda3\lib\site-packages\ipykernel_launcher.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Impact coding for director
Impact coding for actor1
Impact coding for actor2

In [88]:
train_data[['genre','year', 'actor1'] + list(train_data.columns[-8:])]

,genre,year,actor1,actor2,genre,rating,country,impact_encoded_title,impact_encoded_director,impact_encoded_actor1,impact_encoded_actor2
0,5,1969,Antoinette Maynard,Jeanette Mills,5,3.9,USA,5.118250,7.433252,5.117991,5.118078
1,2,2008,Amy Lyndon,Wes Ramsey,2,3.1,USA,2.417513,8.473004,2.417753,2.416980
2,12,2016,Phil Stevens,David Chopping,12,5.8,USA,11.417513,5.971305,11.417444,11.416797
3,6,2002,Matt Dillon,James Caan,6,6.0,USA,6.018105,5.971264,5.808333,7.511905
4,0,2012,Lorin Alond Ly,Thai Ngo,0,9.1,USA,0.617564,4.000000,0.617254,0.616854
5,8,2015,Keke Palmer,Cory Hardrict,8,6.8,USA,8.000000,5.933333,7.817753,6.500000
6,5,2011,Carlen Altman,Bob Byington,5,6.7,USA,5.117029,5.510000,5.117167,5.117579
7,5,2012,Jordan Black,Alice Johnson Boher,5,7.3,USA,5.116995,5.971304,5.117164,5.116716
8,5,2016,Max Azulay,Matt Porter,5,8.1,USA,5.116499,5.971323,5.117991,5.116671
9,5,2013,Miles Teller,Justin Chon,5,5.9,USA,5.117714,4.000000,4.010000,5.117513
10,8,2006,Carlos Puga,Keith Middleton,8,5.4,USA,7.816680,5.500000,7.816887,7.818451
11,7,2006,The Dalai Lama,Jetsun Pema,7,8.1,USA,6.916995,6.916932,7.000000,6.917513
12,5,2005,Patrick M. Brady,Judy Cerda,5,8.2,USA,5.118105,5.117510,6.500000,5.118048
13,8,2004,Alex Carpenter,Travis Munoz,8,8.2,USA,7.817564,7.816812,7.817254,7.817149
14,18,2016,Ivan Djurovic,Rick Irwin,18,3.7,USA,16.816995,13.000000,16.817134,16.816833
15,5,1998,Kathleen Fontaine,Tara Howley,5,4.6,USA,5.118250,5.116932,5.117398,5.118048
16,12,2014,Liam Makrogiannis,Johnny Dickie,12,5.6,USA,15.000000,5.971294,11.417444,12.000000
17,12,2006,Cassie Daniels,Chris Todd,12,7.1,USA,11.418250,6.874286,11.416824,11.418451
18,8,2010,Randall Bentley,Leah Sims,8,5.9,USA,7.817513,7.817865,7.817164,7.816854
19,5,2012,Stacey Turner,Ken R. Wheeler,5,8.5,USA,5.116499,5.118544,5.117167,5.118078
20,18,2009,Robert Thorne,Jasmine Waltz,18,3.6,USA,16.816995,7.476667,9.000000,16.817149
21,5,2011,William E. Smith,Ayanna Fullilove,5,7.4,USA,5.116629,5.118135,5.117444,5.118078
22,5,2006,Susana Pineda,Juan Carlos Fuentes,5,7.5,USA,5.117119,5.971305,5.116824,5.116671
23,6,1987,Clayton Rohner,Ray Sharkey,6,5.7,USA,6.017149,5.666667,8.666667,5.000000
24,12,2013,Priya Rai,James Bartholet,12,1.9,USA,11.418084,8.000000,11.417753,11.418048
25,8,2017,Jazsmin Lewis,Thomas Mikal Ford,8,7.3,USA,4.000000,5.971294,5.725000,8.000000
26,8,2016,Blake Webb,Tatum Langton,8,2.7,USA,7.816935,5.971278,7.817326,6.468250
27,6,2013,Enrique Murciano,Nicholas Gonzalez,6,6.2,USA,6.016499,6.017633,5.500000,10.500000
28,6,1998,Michelle von Flotow,Burke Morgan,6,4.9,USA,6.018084,10.242857,6.017386,8.833333
29,18,2009,Anne Arceneaux,Fayard Lindsey,18,3.1,USA,16.817714,16.817865,16.818099,16.816977
...,...,...,...,...,...,...,...,...,...,...,...
34970,0,1988,Josef Rainer,Jordan Williams,0,4.0,USA,11.418105,8.500000,6.174257,6.174257
34971,20,1967,Bobby Darin,Emily Banks,20,5.7,USA,6.174257,7.817311,6.174257,6.174257
34972,12,2008,Lara Adkins,Mark Booker,12,5.6,USA,6.174257,11.416370,11.417549,8.268451
34973,0,1974,Jeannie Bell,Chuck Daniel,0,5.7,USA,6.174257,5.708120,6.174257,6.174257
34974,5,1994,Terry Kiser,Leigh Ann Orsi,5,4.1,USA,6.174257,5.116370,9.466667,6.174257
34975,8,1998,Colette O'Connell,Leland Crooke,8,6.7,USA,6.174257,6.174257,6.174257,6.174257
34976,1,1987,Sharon Mitchell,Jeanna Fine,1,7.7,USA,6.174257,1.037124,1.000000,6.174257
34977,5,2009,Todd A. Robinson,Eric Martin Reid,5,4.9,USA,6.174257,7.816821,6.174257,6.174257
34978,1,1983,Maria Tortuga,Sunshine,1,4.0,USA,6.174257,1.606618,1.000000,6.174257
34979,8,2007,Trevor Wright,Brad Rowe,8,7.8,USA,6.440000,5.971283,6.174257,5.000000
34980,5,2012,Carl Pfeiffer,Jerry Kimble,5,6.4,USA,6.174257,5.117603,6.174257,6.174257
34981,2,2008,Sienna Miller,James Franco,2,6.1,USA,6.174257,6.174257,7.275000,5.287619
34982,2,2006,Lorenzo Leonard,Tommy LeRoy,2,7.8,USA,6.174257,6.174257,16.818487,6.174257
34983,1,1984,Lili Marlene,Jon Martin,1,2.0,USA,6.174257,6.174257,1.000000,1.000000
34984,6,2001,Sal Mazzotta,Leo Rossi,6,4.9,USA,6.174257,6.468544,16.817386,2.500000
34985,12,2012,Evan Cassidy,Aria Aspen,12,6.2,USA,6.174257,5.971382,6.174257,11.418078
34986,8,1997,Richard Chamberlain,Michael Imperioli,8,5.4,USA,6.174257,12.966667,7.817386,5.117149
34987,8,2001,Keith Carradine,David Keith,8,7.2,USA,6.174257,6.174257,5.558333,4.400000
34988,5,1960,Clark Gable,Sophia Loren,5,6.3,USA,6.174257,3.800000,7.817167,0.616716
34989,5,2002,Michael Mazzara,Stephen Eugene Walker,5,7.4,USA,6.174257,6.174257,6.174257,6.174257
34990,3,1974,Skip Hinnant,Reva Rose,3,5.4,USA,6.174257,5.971274,3.317167,6.174257
34991,5,2016,Kevin Nichols,Chris Cleveland,5,5.8,USA,6.174257,5.971296,6.174257,5.116977
34992,5,2017,Douglas Bennett,Grant Garry,5,8.8,USA,6.174257,4.216821,6.174257,6.174257
34993,8,2014,Ed Harris,Eva Longoria,8,6.6,USA,6.174257,7.817865,5.404343,5.117513
34994,2,2005,Tilda Swinton,Georgie Henley,2,6.9,USA,6.174257,4.000000,7.333333,6.174257
34995,8,1992,Barry Del Sherman,Isabel Gillies,8,6.7,USA,6.174257,7.565278,6.174257,7.817519
34996,5,2015,Michael Madsen,Ciara Flynn,5,4.3,USA,6.174257,6.174257,7.060462,6.174257
34997,6,1999,Mark 'Woody' Keppel,Burt Ward,6,4.4,USA,6.174257,6.203333,6.174257,1.000000
34998,5,2017,Pat Healy,Taylor Schilling,5,6.0,USA,1.518250,5.971304,5.000000,7.817519
34999,5,2005,Jamila Anderson,Mimi Ayers,5,5.7,USA,6.174257,6.174257,6.174257,6.174257

In [89]:
X_train = train_data[['impact_encoded_actor1', 'impact_encoded_actor2', 'impact_encoded_title','year','impact_encoded_director','rating']]
y_train = train_data[['genre']]
X_test= test_data[['impact_encoded_actor1', 'impact_encoded_actor2', 'impact_encoded_title','year','impact_encoded_director','rating']]
y_test = test_data[['genre']]

In [91]:
from sklearn.ensemble import RandomForestClassifier

random_forest = RandomForestClassifier(n_estimators=500, max_depth=20, random_state=1, )
random_forest.fit(X_train, y_train)

from sklearn.metrics import accuracy_score

y_predict = random_forest.predict(X_test)
print(accuracy_score(y_test, y_predict)*100)

C:\Users\vijay\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

35.8982511924