In [1]:
import pandas as pd
data = pd.read_csv("FinalCleaned.csv")

In [2]:
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [11]:
X = data[['actor1', 'actor2', 'director', 'title','year']]
y = data[['genre']]

X.info()
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33032 entries, 0 to 33031
Data columns (total 5 columns):
actor1      33032 non-null object
actor2      33032 non-null object
director    33032 non-null object
title       33032 non-null object
year        33032 non-null int64
dtypes: int64(1), object(4)
memory usage: 1.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33032 entries, 0 to 33031
Data columns (total 1 columns):
genre    33032 non-null object
dtypes: object(1)
memory usage: 258.1+ KB

In [12]:
from sklearn.model_selection import train_test_split

# Split X and y into X_
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [15]:
from sklearn.preprocessing import LabelEncoder

In [28]:
le=LabelEncoder()
for col in X_test.columns.values:
       # Encoding only categorical variables
       if X_test[col].dtypes=='object':
       # Using whole data to form an exhaustive list of levels
        data=X_train[col].append(X_test[col])
        le.fit(data.values)
        X_train[col]=le.transform(X_train[col])
        X_test[col]=le.transform(X_test[col])

In [29]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8258 entries, 10974 to 16263
Data columns (total 5 columns):
actor1      8258 non-null int64
actor2      8258 non-null int64
director    8258 non-null int64
title       8258 non-null int64
year        8258 non-null int64
dtypes: int64(5)
memory usage: 387.1 KB

In [30]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24774 entries, 25288 to 33003
Data columns (total 5 columns):
actor1      24774 non-null int64
actor2      24774 non-null int64
director    24774 non-null int64
title       24774 non-null int64
year        24774 non-null int64
dtypes: int64(5)
memory usage: 1.1 MB

In [31]:
X_train.head()

       actor1  actor2  director  title  year
25288    4408   18272      1845  11262  2008
7287    10081    2372     10842  18933  1999
3951    16774   16407     12049   1054  1994
27024    4464    7789     12391  28770  2002
13234    4008   14226     11738  30223  2007

In [32]:
X_test.head()

       actor1  actor2  director  title  year
10974    4330    3807      9836  20410  2010
17544   17532   21486     12055   3685  1989
10424    5396    7767     13032  27334  1995
4330    19115   18003      4980  30879  1995
1132    15506    3882     11372  17899  2011

In [38]:
from sklearn.preprocessing import scale
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy
X_train_scale=scale(X_train)
X_test_scale=scale(X_test)
log=LogisticRegression(penalty='l2',C=.01)
log.fit(X_train_scale,y_train)
accuracy_score(Y_test,log.predict(X_test_scale))

c:\users\raval\appdata\local\programs\python\python35\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.2591426495519496

In [39]:
from sklearn.ensemble import RandomForestClassifier

random_forest = RandomForestClassifier(n_estimators=1000, max_depth=8, random_state=1, )
random_forest.fit(X_train, y_train)

from sklearn.metrics import accuracy_score

y_predict = random_forest.predict(X_test)

c:\users\raval\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [40]:
print(accuracy_score(y_test, y_predict))

0.304068781787

In [41]:
from sklearn import tree

model = tree.DecisionTreeClassifier(max_depth=5)

model.fit(X_train, y_train)
y_predict = model.predict(X_test)

from sklearn.metrics import accuracy_score

print(accuracy_score(y_test, y_predict))

0.293775732623

In [42]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=5)
neigh.fit(X_train, y_train)

from sklearn.metrics import accuracy_score

y_predict = neigh.predict(X_test)
# accuracy_score(y_test, y_predict)

from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

print(accuracy_score(y_test, y_predict))

c:\users\raval\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.190724146282